<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700" rel="stylesheet">

  <title>Cartender - Maintenance Reminders made Easy</title>

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="d-flex flex-grow-1">
      <span class="w-100 d-lg-none d-block">
        <!-- hidden spacer to center brand on mobile --></span>
      <a class="navbar-brand nav-logo ml-5" href="/"><span id="logo-bold">Car</span>tender</a>
      <div class="w-100 text-right">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right " id="navbarText">
      <ul class="navbar-nav ml-auto flex-nowrap">
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FAQ</a>
        </li>
        <li class="nav-item">
          <div id="get-started">
            <a class="nav-link" href="#">Get Started <i class="fas fa-angle-double-right"></i></a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron jumbotron-fluid" id="jumbo-hero">
    <div class="container">
      <div class="row">
        <div class="col-5" id="phone">
        </div>
        <div class="col-7 jum-text">
          <div class="row mt-5">
            <h1 class="display-3 font-weight-bold mb-4">Get a dashboard that does more.</h1>
          </div>
          <div class="row">
            <h2 class="display-4 mb-4">All your maintenance needs in one place.</h2>
          </div>
          <div class="row">
            <h2 class="display-4 mb-4">Easy.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row py-5">
    <div class="container d-flex">
      <div class="col-4">
        <h2 class="font-weight-bold">Be prepared for anything...</h2>
      </div>
      <div class="col-2">
        <img src="/images/light-engine.png" alt="Check engine light">
      </div>
      <div class="col-2">
        <img src="/images/light-fuel.png" alt="Low fuel light">
      </div>
      <div class="col-2">
        <img src="/images/light-battery.png" alt="Battery light">
      </div>
      <div class="col-2">
        <img src="/images/light-oil.png" alt="Oil light">
      </div>
    </div>
  </div>

  <footer>
    <div class="d-flex justify-content-center">
      <p>&copy; 2019 Cartender | <a href="https://github.com/shawnholcomb/project2">GitHub Repository</a></p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="/js/index.js"></script>
</body>

</html>