<div class="pl-5" id="logo">
  <a href="/"><img src="/images/logo.png"></a>
</div>
<div class="jumbotron d-flex flex-column" id="fail-page">
  <p class="text-center" id="fail-header">404</p>
  <p class="text-center mb-5" id="oops">Oops, there is nothing here!</p>
  <a href="/" id="home">
    <p class="text-center">← Back To Home</p>
  </a>
</div>