<div id="fail-page">
  <div id="logo-404">
    <a href="/"><span id="logo-bold">CAR</span>tender</a>
  </div>
  <div class="d-flex flex-column">
    <p class="text-center" id="fail-header">404</p>
    <p class="text-center mb-5" id="oops">Where we're going we don't need routes.</p>
    <a href="/" id="home">
      <p class="text-center">← Back To Home</p>
    </a>
  </div>
</div>