<nav class="navbar navbar-expand-lg navbar-light">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block">
            <!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand nav-logo ml-5" href="/"><span id="logo-bold">CAR</span>tender</a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right " id="navbarText">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <div id="get-started">
                    <a class="nav-link" data-toggle="modal" data-target=".signup-modal">Get Started <i
                            class="fas fa-angle-double-right"></i></a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="about">
    <div class="jumbotron" id="about-bg">
        <img src="/images/about-bg.jpg">
    </div>
</div>
<div class="container my-4">
    <h2 class="text-center mb-4">About <span class="font-weight-bold bold-car">CAR</span>tender</h2>
    <p class="mb-4">How often should you change your oil? Every 3000 miles? 5000 miles? Every 3 months? With our busy
        lifestyles it can be easy to forget. Let CARtender help! CARtender is a vehicle maintenance tracker at it's base
        but it is so much more.</p>
    <p class="mb-5">We make tracking your maintenance easy. Whether you have one vehicle or an entire fleet,
        give
        CARtender a chance to simplify your life.</p>

    <div class="card mb-4 shadow">
        <div class="card-body row">
            <div class="col-2 my-auto text-center">
                <span class="card-icon"><i class="fas fa-oil-can"></i></span>
            </div>
            <div class="col-10 my-auto">
                <h4>Track when you had
                    you last oil change and be notified when the next one is due.</h4>
            </div>
        </div>
    </div>

    <div class="card mb-4 shadow">
        <div class="card-body row">
            <div class="col-2 my-auto text-center">
                <span class="card-icon"><i class="fas fa-file-alt"></i></span>
            </div>
            <div class="col-10 my-auto">
                <h4>Keep details such as your VIN and insurance
                    information at your fingertips.</h4>
            </div>
        </div>
    </div>

    <div class="card mb-5 shadow">
        <div class="card-body row">
            <div class="col-2 my-auto text-center">
                <span class="card-icon"><i class="fas fa-gas-pump"></i></span>
            </div>
            <div class="col-10 my-auto">
                <h4 class="align-middle">Search for gas prices so you can be sure you are getting the best deals.</h4>
            </div>
        </div>
    </div>
</div>