<nav class="navbar navbar-expand-lg navbar-light">
  <div class="d-flex flex-grow-1">
    <span class="w-100 d-lg-none d-block">
      <!-- hidden spacer to center brand on mobile --></span>
    <a class="navbar-brand nav-logo ml-5" href="/"><span id="logo-bold">CAR</span>tender</a>
    <div class="w-100 text-right">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <div class="collapse navbar-collapse flex-grow-1 text-right " id="navbarText">
    <ul class="navbar-nav ml-auto flex-nowrap">
      <li class="nav-item">
        <div id="get-started">
          <a class="nav-link" data-toggle="modal" data-target=".signup-modal">Get Started <i
              class="fas fa-angle-double-right"></i></a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid" id="jumbo-hero">
  <div class="container">
    <div class="row">
      <div class="col-5" id="phone">
      </div>
      <div class="col-7 jum-text">
        <div class="row mt-5">
          <h1 class="display-3 font-weight-bold mb-4">Get a dashboard that does more.</h1>
        </div>
        <div class="row">
          <h2 class="display-4 mb-4">All your maintenance needs in one place.</h2>
        </div>
        <div class="row">
          <h2 class="display-4 mb-4">Easy.</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="about py-5">
  <div class="container">
    <h2 class="text-center mb-4">About <span class="font-weight-bold bold-car">CAR</span>tender</h2>
    <p class="mb-4">How often should you change your oil? Every 3000 miles? 5000 miles? Every 3 months? With our busy
      lifestyles it can be easy to forget. Let CARtender help! CARtender is a vehicle maintenance tracker at it's base
      but it is so much more.</p>
    <p class="mb-5">We make tracking your maintenance easy. Whether you have one vehicle or an entire fleet,
      give
      CARtender a chance to simplify your life.</p>

    <div class="card mb-4 shadow">
      <div class="card-body row">
        <div class="col-2 my-auto text-center">
          <span class="card-icon"><i class="fas fa-oil-can"></i></span>
        </div>
        <div class="col-10 my-auto">
          <h4>Track your last oil change and be notified when the next is due.</h4>
        </div>
      </div>
    </div>

    <div class="card mb-4 shadow">
      <div class="card-body row">
        <div class="col-2 my-auto text-center">
          <span class="card-icon"><i class="fas fa-file-alt"></i></span>
        </div>
        <div class="col-10 my-auto">
          <h4>Keep helpful information like as your VIN and insurance
            details at your fingertips.</h4>
        </div>
      </div>
    </div>

    <div class="card shadow">
      <div class="card-body row">
        <div class="col-2 my-auto text-center">
          <span class="card-icon"><i class="fas fa-gas-pump"></i></span>
        </div>
        <div class="col-10 my-auto">
          <h4 class="align-middle">Search for gas prices so you can be sure you are getting the best deals.</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade signup-modal" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content p-5">
      <div id="signup-toggle">
        <button type="button" class="close text-right" data-dismiss="modal" aria-label="Close">
          <span caria-hidden="true">&times;</span>
        </button>
        <h2 class="font-weight-bold mb-4">To create an account, start here.</h2>
        <h5 class="mb-4">Sign up to make maintenance tracking easy.</h5>

        <div class="input-group mb-4">
          <input type="text" class="form-control" aria-label="Email" placeholder="Email"
            aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-4">
          <input type="text" class="form-control" aria-label="password" placeholder="Create Password"
            aria-describedby="inputGroup-sizing-default">
        </div>
        <a href="/garage">
          <button class="mb-3" id="create-account">Create Account</button>
        </a>
        <a id="account">
          <h6 class="text-center">I already have an account</h6 class="text-center">
        </a>
      </div>

      <div id="signin-toggle">
        <button type="button" class="close text-right" data-dismiss="modal" aria-label="Close">
          <span caria-hidden="true">&times;</span>
        </button>
        <h2 class="font-weight-bold mb-4">Welcome back.</h2>
        <div class="input-group mb-4">
          <input type="text" class="form-control" aria-label="Email" placeholder="Email"
            aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-4">
          <input type="text" class="form-control" aria-label="password" placeholder="Password"
            aria-describedby="inputGroup-sizing-default">
        </div>
        <a href="/garage">
          <button class="mb-3" id="signin-button">Sign In</button>
        </a>
        <h6 class="text-center">Need to sign up? <a id="signup">Click here</a></h6 class="text-center">
        </a>
      </div>
    </div>
  </div>
</div>