<nav class="navbar navbar-expand-lg navbar-light">
  <div class="d-flex flex-grow-1">
    <span class="w-100 d-lg-none d-block">
      <!-- hidden spacer to center brand on mobile --></span>
    <a class="navbar-brand nav-logo ml-5" href="/"><span id="logo-bold">Car</span>tender</a>
    <div class="w-100 text-right">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <div class="collapse navbar-collapse flex-grow-1 text-right " id="navbarText">
    <ul class="navbar-nav ml-auto flex-nowrap">
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">FAQ</a>
      </li>
      <li class="nav-item">
        <div id="get-started">
          <a class="nav-link" data-toggle="modal" data-target=".signup-modal">Get Started <i
              class="fas fa-angle-double-right"></i></a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid" id="jumbo-hero">
  <div class="container">
    <div class="row">
      <div class="col-5" id="phone">
      </div>
      <div class="col-7 jum-text">
        <div class="row mt-5">
          <h1 class="display-3 font-weight-bold mb-4">Get a dashboard that does more.</h1>
        </div>
        <div class="row">
          <h2 class="display-4 mb-4">All your maintenance needs in one place.</h2>
        </div>
        <div class="row">
          <h2 class="display-4 mb-4">Easy.</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row py-5">
  <div class="container d-flex">
    <div class="col-4">
      <h2 class="font-weight-bold">Be prepared for anything...</h2>
    </div>
    <div class="col-2">
      <img src="/images/light-engine.png" alt="Check engine light">
    </div>
    <div class="col-2">
      <img src="/images/light-fuel.png" alt="Low fuel light">
    </div>
    <div class="col-2">
      <img src="/images/light-battery.png" alt="Battery light">
    </div>
    <div class="col-2">
      <img src="/images/light-oil.png" alt="Oil light">
    </div>
  </div>
</div>






<div class="modal fade signup-modal" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <h1 class="font-weight-bold">To create an account, start here.</h1>
      <h4>Sign up to make maintenance tracking easy.</h4>

      <div class="input-group mb-3">
        <input type="text" class="form-control" aria-label="Email" placeholder="Email"
          aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="input-group mb-3">
        <input type="text" class="form-control" aria-label="password" placeholder="Create Password"
          aria-describedby="inputGroup-sizing-default">
      </div>
      <button id="create-account">Create Account</button>
      <a href="/garage">
        <h4>I already have an account</h4>
      </a>

    </div>
  </div>
</div>