body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  color: #262626;
}

a {
  cursor: pointer;
}

button:focus {
  outline: none;
}

 /* navbar items */

.navbar {
  padding-right: 0;
}

nav li a {
  margin-left: 10px;
}

.nav-logo {
  font-size: 1.5rem;
}

#logo-bold {
  font-size: 1.75rem;
  font-weight: bold;
  margin-right: 2px;
}

#get-started {
  background: #ff0051;
  padding-right: 16px;
  border-radius: 12px 0 0 12px;
  margin-left: 10px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
}

#get-started:hover {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
}

#get-started:active {
  background: #e80046;
}

#get-started a {
  color: #fff;
}

/* jumbotron */

.jumbotron {
  width: 100%;
  color: #fff;
  margin-bottom: 0;
}

#jumbo-hero {
  background: url("/images/hero-image.jpg") center bottom no-repeat;
  background-size: cover;
}

#phone {
  background: url("/images/phone-app.gif") center no-repeat;
  background-size: contain;
}

.jum-text {
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
}

/* about section */

.about {
  background: #f5f5f5;
}

.bold-car {
  margin-right: 2px;
}

card {
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
}

.card-icon {
  color: #ff0051;
  font-size: 50px;
  margin: 0px 20px;
}

/* footer */

footer {
  background: #fff  ;
  padding-top: 15px;
  color: #262626;
  font-size: 16px;
}

footer i {
  font-size: 30px;
  margin-right: 20px;
}

footer a {
  color: #ff0051;
}

footer a:hover {
  color: #262626;
  text-decoration: none;
}

#bolder {
  font-weight: bold;
  margin-right: 1px;
}

.apple {
  width: 10%;
  height: 10%;
  margin-right: 10px;
}

.google {
  width: 11%;
  height: 11%;
}

.fa-coffee {
  margin-right: 0;
}

/* modal */

.form-control {
  padding: 30px 10px; 
}

#create-account,
#signin-button,
#submit,
#profile-submit {
  width: 100%;
  background: #ff0051;
  color: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
}

#create-account:hover,
#signin-button:hover,
#submit:hover,
#profile-submit:hover  {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
}

#create-account:active,
#signin-button:active,
#submit:active,
#profile-submit:active {
  background: #e80046;
}

#account {
  color: #262626;
}

#account h6:hover {
  text-decoration: underline;
}

#signup {
  color: #ff0051;
}

#signup h6:hover {
  color: #262626;
  text-decoration: underline;
}

#signin-toggle {
  display: none;
}

/* 404 page */

#logo-404 {
  padding-top: 13px;
  margin-left: 64px;

}

#logo-404 a {
  color: #fff;
}

#logo-404 a:hover {
  color: #ff0051;
  text-decoration: none;
}

#logo-404 a:active {
  color: #e80046;
}

#fail-page {
  padding: 0px;
  border-radius: 0px;
  width: 100vw;
  min-height: 100vh;
  background: url("/images/404-bg.jpg") center center no-repeat;
  background-size: cover;
}

#fail-page p {
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
}

#fail-header {
  font-size: 125px;
  color: #f5f5f5;
}

#oops {
  font-size: 1.5rem;
  color: #f5f5f5;
}

#home {
  font-size: 1.5rem;
  color: #ff0051;
}

#home:hover {
  text-decoration: underline;
}

#home:active {
  color: #e80046;
}


/* Garage Page */

.garage-body {
  background: #fff;
  min-height: calc(100vh - 350px);
}

.garage-body-row {
  height: 100%;
}

#add-new {
  background: #ff0051;
  padding: 12px 20px;
  margin-right: 10px;
  border-radius: 30px;
  margin-bottom: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

#add-new:active {
  background: #e80046;
}

#add-new a {
  color: #fff;
}

.list-group-item{
  border: none;
}

.list-group-item:hover {
  border-radius: 30px 0 0 30px;
}

.list-group-item.active {
  background: rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 30px 0 0 30px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.garage-column i {
  margin-right: 20px;
}

.profile {
  background: #262626;
}

.profile-image {
  padding: 25px;
}

#prof-pic {
  border: 2px solid #fff;
  border-radius: 50%;
  margin-left: 12%;
  height: 150px;
  width: 150px;
}

.profile-text {
  color:#fff;
  padding: 25px;
}

#edit,
#signout {
  background: none;
  border: 2px solid #fff;
  color: #fff;
  font-size: 18px;
  padding: 8px 20px;
  max-width: 150px;
}

#edit:active,
#signout:active {
  border: 2px solid #e80046;
  color: #e80046;
}

.vehicle-name {
  background: #e80046; /* Old browsers */
  background: -moz-linear-gradient(top, #e80046 0%, #ff3172 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e80046 0%,#ff3172 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e80046 0%,#ff3172 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e80046', endColorstr='#ff3172',GradientType=0 ); /* IE6-9 */
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.open-close {
  width: 23px;
}

.minus {
  display: none;
}

.ind-vehicle {
  background: #fff;
}

.vehicle-details {
  font-size: 18px;
  padding: 10px 0 0 25px;
  display: none;
  width: 100%;
  box-shadow: 8px 1px 15px rgba(0, 0, 0, 0.08);
}

.vehicle-details tr {
  border-bottom: 2px solid #f5f5f5;
}

.vehicle-details td {
  vertical-align: top;
  padding: 15px;
}

.inner-table tr {
  border: none;
}

.inner-table td {
  min-width: 185px;
  padding: 0 0 10px 0;
}

.reminder {
  background: #ff0051;
  color: #fff;
  padding: 8px 20px;
}

.reminder:active {
  background: #e80046;
}

.fa-bell {
  margin-right: 5px;
}

.delete-link  {
  color: #ff0051;
  cursor: pointer;
  font-size: 14px;
}

.delete-link:hover {
  color: #e80046;
  text-decoration: underline;
}

#confirm-delete,
#cancel-delete {
  width: 10%;
  background: #ff0051;
  color: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
}

#list-shops,
#list-settings {
  background-size: 100%;
  min-height: 45vh;
  color: #fff;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
  padding-top: 10%;
}

#list-shops {
  background: url("/images/comingsoon-bg.jpg") center center no-repeat;
}

#list-settings {
  background: url("/images/setting-coming-soon.jpg") left 
}

#list-shops h1,
#list-settings h1 {
  font-size: 3rem;
  text-align: center;
}

.coming-soon {
  letter-spacing: 7px;
}

/* Gas page */

.fuel-switch {
  margin-top: 100px;
}

.fuel-gas,
.fuel-electric {
  font-size: 22px;
  background: #f5f5f5;
  border: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  float: left;
}

.fuel-gas.active, 
.fuel-electric.active {
  background: rgba(0, 0, 0, 0.25);
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.fuel-gas {
  border-radius: 25px 0 0 25px;
  padding: 5px 13px 5px 25px;
  margin-right: 0;
}

.fuel-electric {
  border-radius: 0 25px 25px 0;
  padding: 5px 25px 5px 13px;
  margin-left: 0;
}

@media screen and (max-width: 1199px) {
  .display-3 {
    font-size: 4rem;
  }

  .display-4 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 991px) {
  .display-3 {
    font-size: 3rem;
  }

  .display-4 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .display-3 {
    font-size: 2rem;
  }

  .card-icon {
    font-size: 40px;
  }

  .card h4 {
    font-size: 1.2rem;
    margin-left: 10px;
  }
}

@media screen and (max-width: 575px) {
  .row {
    margin: 0 auto;
  }

  #phone {
    min-height: 500px;
  }

  .display-3 {
    font-size: 2.5rem;
  }

  .display-4 {
    font-size: 1.75rem;
  }

  .card-icon {
    font-size: 35px;
    margin: 0;
  }

  .card h4 {
    font-size: 1rem;
  }
}