body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.navbar {
  padding-right: 0;
}

nav li a {
  margin-left: 10px;
}

.nav-logo {
  font-size: 1.5rem;
}

#logo-bold {
  font-size: 1.75rem;
  font-weight: bold;
  margin-right: 2px;
}

#get-started {
  background: #ff0051;
  padding-right: 16px;
  border-radius: 18px 0 0 18px;
  margin-left: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

#get-started:hover {
  background: #f22c4e;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}

#get-started a {
  color: #fff;
}

.jumbotron {
  height: 68vh;
  width: 100%;
  color: #fff;
  margin-bottom: 0;
}

#jumbo-hero {
  background: url("/images/hero-image.jpg") center bottom no-repeat;
  background-size: cover;
}

#phone {
  height: 60vh;
  background: url("/images/phone-body.png") center no-repeat;
}

.jum-text {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

footer {
  background: #f5f5f5;
  padding-top: 25px;
  color: #ff0051;
  font-size: 14px;
}

footer a {
  color: #ff0051;
}

footer a:hover {
  color: #f22c4e;
  text-decoration: underline;
}