body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  color: #262626;
}

a {
  cursor: pointer;
}

 /* navbar items */

.navbar {
  padding-right: 0;
}

nav li a {
  margin-left: 10px;
}

.nav-logo {
  font-size: 1.5rem;
}

#logo-bold {
  font-size: 1.75rem;
  font-weight: bold;
  margin-right: 2px;
}

#get-started {
  background: #ff0051;
  padding-right: 16px;
  border-radius: 12px 0 0 12px;
  margin-left: 10px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
}

#get-started:hover {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
}

#get-started:active {
  background: #e4004c;
}

#get-started a {
  color: #fff;
}

/* jumbotron */

.jumbotron {
  width: 100%;
  color: #fff;
  margin-bottom: 0;
}

#jumbo-hero {
  background: url("/images/hero-image.jpg") center bottom no-repeat;
  background-size: cover;
}

#phone {
  /* height: 55vh; */
  background: url("/images/phone-app.gif") center no-repeat;
  background-size: contain;
}

.jum-text {
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
}

/* about section */

.about {
  background: #f5f5f5;
}

.bold-car {
  margin-right: 2px;
}

card {
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
}

.card-icon {
  color: #ff0051;
  font-size: 50px;
  margin: 0px 20px;
}

/* footer */

footer {
  background: #fff  ;
  padding-top: 15px;
  color: #262626;
  font-size: 16px;
}

footer i {
  font-size: 30px;
  margin-right: 20px;
}

footer a {
  color: #ff0051;
}

footer a:hover {
  color: #262626;
  text-decoration: none;
}

#bolder {
  font-weight: bold;
  margin-right: 1px;
}

.apple {
  width: 10%;
  height: 10%;
  margin-right: 10px;
}

.google {
  width: 11%;
  height: 11%;
}

.fa-coffee {
  margin-right: 0;
}

/* modal */

.form-control {
  padding: 30px 10px; 
}

#create-account,
#signin-button {
  width: 100%;
  background: #ff0051;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
}

#create-account:hover,
#signin-button:hover {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
}

#create-account:active,
#signin-button:active {
  background: #e4004c;
}

#account {
  color: #262626;
}

#account h6:hover {
  text-decoration: underline;
}

#signup {
  color: #ff0051;
}

#signup h6:hover {
  color: #262626;
  text-decoration: underline;
}

#signin-toggle {
  display: none;
}

/* 404 page */

#logo-404 {
  padding-top: 13px;
  margin-left: 64px;

}

#logo-404 a {
  color: #fff;
}

#logo-404 a:hover {
  color: #ff0051;
  text-decoration: none;
}

#logo-404 a:active {
  color: #e4004c;
}

#fail-page {
  padding: 0px;
  border-radius: 0px;
  width: 100vw;
  min-height: 100vh;
  background: url("/images/404-bg.jpg") center center no-repeat;
  background-size: cover;
}

#fail-page p {
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
}

#fail-header {
  font-size: 125px;
  color: #f5f5f5;
}

#oops {
  font-size: 1.5rem;
  color: #f5f5f5;
}

#home {
  font-size: 1.5rem;
  color: #ff0051;
}

#home:hover {
  text-decoration: underline;
}

#home:active {
  color: #e4004c;
}

@media screen and (max-width: 1199px) {
  .display-3 {
    font-size: 4rem;
  }

  .display-4 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 991px) {
  .display-3 {
    font-size: 3rem;
  }

  .display-4 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .display-3 {
    font-size: 2rem;
  }

  .card-icon {
    font-size: 40px;
  }

  .card h4 {
    font-size: 1.2rem;
    margin-left: 10px;
  }
}

@media screen and (max-width: 575px) {
  .row {
    margin: 0 auto;
  }

  #phone {
    min-height: 500px;
  }

  .display-3 {
    font-size: 2rem;
  }

  .display-4 {
    font-size: 1.5rem;
  }

  .card-icon {
    font-size: 35px;
    margin: 0;
  }

  .card h4 {
    font-size: 1rem;
  }
}