body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}
 /* navbar items */

.navbar {
  padding-right: 0;
}

nav li a {
  margin-left: 10px;
}

.nav-logo {
  font-size: 1.5rem;
}

#logo-bold {
  font-size: 1.75rem;
  font-weight: bold;
  margin-right: 2px;
}

#get-started {
  background: #ff0051;
  padding-right: 16px;
  border-radius: 18px 0 0 18px;
  margin-left: 10px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
}

#get-started:hover {
  background: #e4004c;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.8);
}

#get-started a {
  color: #fff;
}

/* jumbotron */

.jumbotron {
  height: 68vh;
  width: 100%;
  color: #fff;
  margin-bottom: 0;
}

#jumbo-hero {
  background: url("/images/hero-image.jpg") center bottom no-repeat;
  background-size: cover;
}

#phone {
  height: 60vh;
  background: url("/images/phone-body.png") center no-repeat;
}

.jum-text {
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
}

/* footer */

footer {
  background: #f5f5f5;
  padding-top: 25px;
  color: #ff0051;
  font-size: 14px;
}

footer a {
  color: #ff0051;
}

footer a:hover {
  color: #e4004c;
  text-decoration: underline;
}

/* modal */
input:focus {
border-color: #ff0051;
}

.form-control {
  padding: 30px 10px; 
}

#create-account {
  width: 100%;
  background: #ff0051;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
}

#account {
  color: #444;
}

#account:hover {
  color: #e4004c;
  text-decoration: underline;
}

/* 404 page */

#logo {
  background: #000;
}

#fail-page {
  padding: 0px;
  border-radius: 0px;
  width: 100vw;
  height: 100vh;
  background: url("/images/404-bg.jpg") center center no-repeat;
  background-size: cover;
}

#fail-page p {
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
}

#fail-header {
  font-size: 125px;
}

#oops {
  font-size: 1.5rem;
}

#home {
  font-size: 1.5rem;
  color: #ff0051;
}

#home:hover {
  color: #e4004c;
  text-decoration: underline;
}